.pageContent{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contactContainer{
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    max-width: 600px;
    padding: 20px;
}

.contactTitle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.successBox{
    background-color: rgba(0,200,0,0.3);
    border-radius: 5px;
    border: solid green 1px;
    margin-bottom: 10px;
    display: none;
    padding: 10px;
}

.contactLabel{
    font-size: 18px;
    color: grey;
    margin-bottom: 5px;
}

.contactInput{
    outline: none;
    border:  none;
    border: solid 1px rgba(200, 200, 200,0.5);
    font-size: 20px;
    margin-bottom: 10px;
    background-color: rgba(200,200,200, 0.2);
    border-radius: 5px;
    padding: 3px;
}

.inputWrong{
    border: solid 1px rgba(250, 0, 0,0.7);
}

.contactArea{
    height: 300px;
    background-color: rgba(200,200,200, 0.2);
    border-radius: 5px;
    margin-bottom: 20px;
}

.contactButton{
    background-color: rgb(65, 65, 255);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.loading{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
}

.popUp{
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.popUpTitle{
    font-size: 20px;
    font-weight: bold;
}

.popUpLoader{
    width: 100px;
    height: 100px;
}
