.pageContent{
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutTitle{
    margin-top: 30px;
}

.aboutDescription{
    margin-top: 10px;
}

.personContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

@media screen and (max-width: 1100px) {
    .personContainer{
        flex-direction: column;
        gap: 50px;
    }
}

.person{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personImage{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.personName{
    margin-top: 20px;
}

.personItem{
    color: grey;  
    margin-top: 5px;  
}